fastapi
uvicorn
python-multipart
pandas
sqlalchemy
langchain
langchain-openai
langchain-community
faiss-cpu
pypdf
python-dotenv
pydantic
openai
openpyxl
langchain-google-genai
langchain-huggingface
sentence-transformers
langchain-groq
