@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-surface: #0f0f0f;
  --color-border: #1a1a1a;
  --color-primary: #3b82f6;
  --color-muted: #737373;
}

@layer base {
  body {
    @apply bg-background text-neutral-300 antialiased selection:bg-primary/30;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-border rounded-full;
}
